.rtl {
    .cb-container {
        padding-right: 30px;
        padding-left: 0px;
    }
    .checkmark {
        left: auto;
        right: 0;
    }
    .list-checkbox li {
        padding-left: 30px;
        padding-right: 0px;
    }
    .list-checkbox li .number-item {
        right: auto;
        left: 0px;
    }
    .slide-shop .card-grid-style-2.card-grid-none-border .image-box {
        margin-right: 0px;
        margin-left: 13px;
    }
    .card-grid-style-2 .image-box .label {
        left: auto;
        right: -5px;
    }
    .display-list .card-grid-style-3 .card-grid-inner .tools {
        right: 10px;
        left: auto;
    }
    .card-grid-style-3 .card-grid-inner .image-box .label {
        right: 15px;
        left: auto;
    }
    .pagination li .page-next {
        background: url(../imgs/page/homepage2/prev.svg) no-repeat center;
    }
    .pagination li .page-prev {
        background: url(../imgs/page/homepage2/next.svg) no-repeat center;
    }
    .list-col-5 li .item-list .icon-left {
        padding-right: 0px;
        padding-left: 10px;
    }
    .box-newsletter .box-form-newsletter .btn-brand-2 {
        right: auto;
        left: 0px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .header .main-menu li {
        text-align: right;
    }
    .card-grid-style-3 .card-grid-inner .tools {
        right: auto;
        left: 20px;
    }
    .card-grid-style-3 .card-grid-inner .list-features {
        padding-left: 0px;
        padding-right: 15px;
    }
    .list-dot {
        padding-left: 0px;
        padding-right: 15px;
    }
    .box-quantity .input-quantity {
        margin-right: 0px;
        margin-left: 20px;
    }
    .box-bought-together .box-product-bought .product-bought {
        margin-right: 0px;
        margin-left: 50px;
    }
    .cb-container-2 {
        padding-left: 0px;
        padding-right: 30px;
    }
    .comments-area .thumb {
        margin-right: 0px;
        margin-left: 20px;
    }
    .product-rating {
        background-position: top right;
    }
    .product-rate {
        margin-right: 0px !important;
        margin-left: 15px;
    }
    .list-nav-arrow li a {
        background: url(../imgs/page/shop/arrow-menu-right.svg) no-repeat right 7px;
        padding-left: 0px;
        padding-right: 15px;
    }
    .list-nav-arrow li a .number {
        float: left;
    }
    .banner-hero.banner-1 .banner-small.banner-small-1 {
        background-position: left bottom;
    }
    .banner-hero.banner-1 .banner-small.banner-small-2 {
        background-position: left bottom;
    }
    .banner-hero.banner-1 .banner-big {
        background-position: left bottom;
    }
    .banner-hero.banner-1 .banner-big.banner-big-2 {
        background-position: left bottom;
    }
    .card-grid-style-2 .image-box {
        padding-right: 0px;
        padding-left: 15px;
    }
    .list-links-disc li a {
        padding: 0px 10px 0px 0px;
        background-position: right top 9px;
    }
    .btn.btn-gray-abs {
        left: -15px;
        right: auto;
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
    }
    .block-drone {
        background-position: bottom left;
    }
    .block-samsung {
        background-position: bottom left;
    }
    .block-iphone {
        background-position: bottom left;
    }
    .head-main .nav-tabs {
        text-align: left;
    }
    .head-main .nav-tabs li:last-child {
        padding-left: 0px;
        padding-right: 10px;
        a {
            padding-left: 0px;
            padding-right: 10px;
        }
    }
    .btn.btn-view-all {
        background-position: left 0px center;
    }
    .bg-xbox, .bg-metaverse {
        background-position: left bottom;
    }
    .bg-phone {
        background-position: bottom left 10px;
    }
    #scrollUp {
        left: 30px;
        right: auto;
        z-index: 999999999 !important;
    }
    .menu-bottom li:last-child a {
        padding-left: 0px;
        padding-right: 15px;
    }
    .box-button-slider {
        left: 0px;
        width: 90px;
        right: auto;
        .swiper-button-next {
            right: auto;
            left: 40px;
        }
        .swiper-button-prev {
            left: 0px;
            right: auto;
        }
    }
    .banner-hero .swiper-pagination {
        text-align: right;
    }
    .banner-hero .swiper-pagination-custom {
        padding-right: 70px;
    }
    .box-count.box-count-square .deals-countdown .countdown-section::before {
        left: -8px;
        right: auto;
    }
    .box-progress .progress-bar .progress-bar-inner::before {
        left: -3px;
        right: auto;
    }
    .footer .menu-footer li a {
        padding: 0px 15px 0px 0px;
        background-position: right top 8px;
    }
    .footer .icon-socials {
        margin-left: 15px;
        margin-right: 0px;
    }
    .hurry-up .label {
        right: 0px;
        left: auto;
        transform: rotate(90deg);
    }
    .top-deals .label {
        right: 0px;
        left: auto;
        transform: rotate(90deg);
    }
    .card-grid-style-3.hurry-up .card-grid-inner .price-info .price-main {
        margin-right: 0px;
        margin-left: 10px;
    }
    .box-count .deals-countdown .countdown-section::before {
        left: -1px;
        right: auto;
    }
    .bg-headphone {
        background-position: left bottom;
    }
    .btn.btn-open {
        right: 0px;
        left: auto;
    }
    .display-list .card-grid-style-1 .image-box {
        padding-right: 0px;
        padding-left: 20px;
    }
    .comment-box .comment-item .top-comment .image-author {
        margin-left: 15px;
        margin-right: 0px;
    }
    .box-author .img-author {
        margin-right: 0px !important;
        margin-left: 30px !important;
    }
    .box-author .img-author img {
        margin-left: 10px;
        margin-right: 0px;
    }
    .swiper-button-prev-style-2, .swiper-button-prev-style-2:hover {
        left: 0px;
        right: auto;
        background-position: top left;
    }
    .swiper-button-next-style-2, .swiper-button-next-style-2:hover {
        left: 20px;
        right: auto;
        background-position: top left;
    }
    .list-disc {
        list-style-position: inside;
        padding-left: 0px;
        padding-right: 20px;
    }
    .box-slide-bg-1 {
        background-position: bottom left;
    }
    .block-electric, .block-water {
        background-position: left bottom;
    }
    .block-ads-1, .block-ads-2 {
        background-position: top right;
    }
    .box-icon-flash {
        padding: 0px 55px 0px 0px;
        background-position: right -13px top 5px;
    }
    .box-button-control {
        text-align: left;
        float: left;
        position: relative;
        padding-top: 18px;
    }
    .box-button-control .swiper-button-prev-style-2 {
        left: 0px;
        position: absolute;
        top: 50%;
    }
    .box-button-control .swiper-button-next-style-2 {
        left: 20px;
        position: absolute;
        top: 50%;
    }
    .block-charge {
        background-position: top left;
    }
    .block-player {
        background-position: bottom left;
    }
}